@charset "utf-8";

:root {
    --dark-color: #fff;
    --dark-bg-color: #1a1a1a;
    --light-color: #222;
    --light-bg-color: #fff;
}

html {
    font-size: 16px;
}

body {
    color: var(--dark-color);
    font-family: acumin-pro, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-feature-settings: "palt";
    background: var(--dark-bg-color);
}

img,
video {
    width: 100%;
    border-radius: 8px;
}

@media screen and (max-width: 500px) {
    html {
        font-size: 14px;
    }
}

/* インナー */
.container {
    max-width: 1100px;
    width: 90%;
    margin: 0 auto;
    padding: 150px 0;
}

@media screen and (max-width: 500px) {
    .container {
        width: 100%;
        padding: 75px 25px;
    }
}

/* フレックスボックス */
.model-flex {
    display: flex;
    justify-content: space-between;

    &.flex-reverse {
        flex-direction: row-reverse;
    }
}

/* 背景色ありセクション */
.model-bg {
    color: var(--light-color);
    background-color: #fff;
}

/* セクション見出し */
.sub-ttl-left {
    margin-bottom: 75px;
    display: flex;
    flex-direction: column;

    .sub-ttl-en {
        font-size: 7rem;
        font-weight: 800;
        transform: translateX(-0.06em);
    }

    .sub-ttl-ja {
        font-weight: 500;
    }

    &::after {
        content: "";
        width: 100%;
        height: 1px;
        margin-top: 50px;
        background-color: var(--dark-color);
        display: block;
    }
}

.sub-ttl-center {
    margin-bottom: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;

    .sub-ttl-en {
        font-size: 5.5rem;
        font-weight: 800;
    }

    .sub-ttl-ja {
        font-weight: 500;
    }
}

.circle {
    margin-right: 4px;

    &.type-orange {
        color: rgba(241,151,83,1);
    }
    &.type-blue {
        color: rgba(68,176,176, 1);
    }
    &.type-green {
        color: rgba(84, 172, 109, 1);
    }
}

@media screen and (max-width: 500px) {
    .sub-ttl-left {
        margin-bottom: 50px;

        .sub-ttl-en {
            font-size: 4.5rem;
            margin-bottom: 5px;
        }

        .sub-ttl-ja {
            font-size: 0.9rem;
        }

        &::after {
            margin-top: 35px;
        }
    }
}

/* メインビジュアル */
.mainvisual {
    width: 100%;
    height: 100vh;
    margin-bottom: 100px;
    position: relative;

    .header-logo {
        width: 35px;
        position: fixed;
        top: 25px;
        left: 25px;
        z-index: 10;

        img {
            border-radius: 0;
        }
    }

    .mv-cont {
        width: 55%;
        height: calc(100vh - 30px);
        position: absolute;
        bottom: 15px;
        right: 0;

        video {
            width: 100%;
            height: 100%;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            object-fit: cover;
        }
    }

    p {
        font-size: 13vw;
        /* font-size: clamp(6rem, 0.643rem + 17.14vw, 13.5rem); */
        font-weight: 800;
        line-height: 0.9;
        position: absolute;
        bottom: 45px;
        left: 50px;
        user-select: none;

        span {
            font-size: 10.3vw;
            /* font-size: clamp(6rem, 3.143rem + 9.14vw, 10rem); */
        }
    }
}

@media screen and (max-width: 500px) {
    .mainvisual {
        margin-bottom: 0;

        .mv-cont {
            width: 100%;
            height: 100vh;
            position: static;
            
            video {
                border-radius: 0;
            }
        }

        p {
            font-size: 6rem;
            top: 50%;
            bottom: auto;
            left: auto;
            right: 15px;
            transform: translateY(-50%);
            
            span {
                font-size: 4.5rem;
            }
        }
    }
}

/* Webとの出会い */
.start-txt {
    display: flex;
    /* align-items: center; */

    .sub-ttl-left {
        width: 40%;
        margin-bottom: 0;
        transform: translateY(-1em);

        &::after {
            display: none;
        }
    }

    div {
        width: 60%;

        p {
            margin-bottom: 50px;
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 1.8;
        }

        p:last-of-type {
            margin-bottom: 0;
        }
    }
}

@media screen and (max-width: 500px) {
    .start-txt {
        flex-direction: column;
        gap: 15px;

        .sub-ttl-left,
        div {
            width: 100%;
        }

        div p {
            font-size: 1.2rem;
            margin-bottom: 15px;
        }
    }
}

/* 学習内容 */
.study-cont {
    margin-bottom: 100px;
    gap: 50px;
    align-items: center;

    .study-txt {
        width: 55%;

        h3 {
            margin-bottom: 35px;
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.3;

            span {
                font-size: 1.1rem;
                font-weight: 700;
                display: block;
            }
        }

        p:first-of-type {
            margin-bottom: 10px;
            font-weight: 600;
        }

        p:last-of-type {
            text-align: justify;
            line-height: 1.7;
            letter-spacing: 0.05em;
        }
    }

    .study-img {
        width: 45%;
    }
}

.study-cont:nth-of-type(odd) {
    .study-img {
        text-align: right;
    }
}

.study-cont:nth-of-type(even) {

    h3,
    p:first-of-type {
        text-align: right;
    }
}

.study-cont:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width: 500px) {
    .study-cont {
        margin-bottom: 50px;
        gap: 15px;

        .study-txt,
        .study-img {
            width: 100%;
        }

        .study-txt {
            h3 {
                margin-bottom: 20px;
            }
        }
    }

    .study-cont:nth-of-type(2n) {

        h3,
        p:first-of-type {
            text-align: left;
        }
    }

    .study-cont.model-flex,
    .study-cont.model-flex.flex-reverse {
        flex-direction: column-reverse;
    }
}

/* 制作の経験 */
#skill .container {
    max-width: 900px;
}

.skill-cont {
    padding: 50px 0;
    border-top: 1px solid #333;
    justify-content: flex-start;
    gap: 45px;

    &:last-child {
        border-bottom: 1px solid #333;
    }

    p:first-child {
        width: 20%;
        font-weight: 600;
        text-align: center;
    }

    p:last-child {
        width: 80%;

        span {
            margin-bottom: 4px;
            display: block;
        }
    }
}

/* 制作の流れ */
.flow-cont {
    margin-bottom: 100px;

    h3 {
        margin-bottom: 50px;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.25;
        text-align: center;

        /* .bi-square-fill {
            margin-right: 4px;
            vertical-align: text-top;

            &::before {
                font-size: 1.1rem;
            }
        } */
    }

    .flow-step {
        margin-bottom: 60px;
        align-items: center;
        gap: 35px;

        .step-num {
            width: 9%;
            font-size: 5rem;
            font-weight: 700;
            /* opacity: 0.65; */
        }
    
        .flow-step-inner {
            width: 91%;
            align-items: center;
            gap: 35px;

            div {
                width: 70%;
                
                p:first-of-type {
                    margin-bottom: 15px;
                    font-size: 1.2rem;
                    font-weight: 600;
                }
                
                p:last-of-type {
                    line-height: 1.6;
                }
            }
            
            &:last-of-type {
                margin-bottom: 0;
            }
    
            img {
                width: 30%;
            }
        }
    }

    &:last-of-type {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 500px) {
    .flow-cont {
        h3 {
            text-align: left;
            margin-bottom: 30px;
        }

        .flow-step {
            align-items: flex-start;

            .step-num {
                width: 12%;
                font-size: 3.2rem;
                line-height: 0.6;
            }

            .flow-step-inner {
                width: 88%;
                flex-direction: column-reverse;
                gap: 20px;

                div {
                    width: 100%;
                }
        
                img {
                    width: 100%;
                }
            }
        }
    }
}